{% extends 'base.html' %}

{% block body %}
<div class="container">
    <form action="{% url 'movies:create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="title_en">title_en</label>
            <input type="text" name="title_en" class="form-control" id="title_en">
        </div>
        <div class="form-group">
            <label for="audience">audience</label>
            <input type="number" name="audience" class="form-control" id="audience">
        </div>
        <div class="form-group">
            <label for="open_date">open_date</label>
            <input type="date" name="open_date" class="form-control" id="open_date">
        </div>
        <div class="form-group">
            <label for="genre">genre</label>
            <input type="text" name="genre" class="form-control" id="genre">
        </div>
        <div class="form-group">
            <label for="watch_grade">watch_grade</label>
            <input type="text" name="watch_grade" class="form-control" id="watch_grade">
        </div>
        <div class="form-group">
            <label for="score">score</label>
            <input type="number" name="score" step="0.01" class="form-control" id="score">
        </div>
        <div class="form-group">
            <label for="poster_url">poster_url</label>
            <input type="text" name="poster_url" class="form-control" id="poster_url">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" name="description" class="form-control" id="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}